absl-py==1.3.0
addict==2.4.0
attrs==22.2.0
blosc2==2.0.0
cachetools==5.2.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
ConfigArgParse==1.5.3
contourpy==1.0.6
coverage==7.0.5
cycler==0.11.0
Cython==0.29.33
dash==2.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
exceptiongroup==1.1.0
fastjsonschema==2.16.2
ffmpeg==1.4
Flask==2.2.2
fonttools==4.38.0
future==0.18.3
google-auth==2.15.0
google-auth-oauthlib==0.4.6
grpcio==1.51.1
gym==0.21.0
h5py==3.7.0
hydra-core==0.11.3
idna==3.4
imageio==2.24.0
importlib-metadata==4.13.0
importlib-resources==5.10.2
iniconfig==2.0.0
ipdb==0.13.11
ipywidgets==8.0.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
littleutils==0.2.2
lmdb==1.4.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
msgpack==1.0.4
msgpack-numpy==0.4.8
nbformat==5.5.0
networkx==3.0
ninja==1.11.1
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
omegaconf==1.4.1
open3d==0.16.0
opencv-python==4.7.0.68
pandas==1.5.2
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
plotly==5.12.0
pluggy==1.0.0
protobuf==3.20.3
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pynvml==11.4.1
pyparsing==3.0.9
pyquaternion==0.9.9
pyrsistent==0.19.3
pytest==7.2.1
pytorch-lightning==0.7.1
PyTurboJPEG==1.7.0
pytz==2022.7
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
Rtree==1.0.1
sapien==2.1.0
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.10.0
shapely==2.0.0
sorcery==0.2.2
stable-baselines3==1.6.2
tables==3.8.0
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tifffile==2022.10.10
tomli==2.0.1
torch==1.13.0
torch-tb-profiler==0.4.1
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.64.1
transforms3d==0.4.1
trimesh==3.17.1
typing_extensions==4.4.0
urllib3==1.26.12
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wrapt==1.14.1
yapf==0.32.0
zipp==3.11.0
